*.pyc
.DS_Store
/graphviz/
/fugitive_interceptions/figs/
/fugitive_interceptions/cache/
/fugitive_interceptions/graphs/
/fugitive_interceptions/results/
/fugitive_interceptions/results_HPC/
/venv/

#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
cover/
*.tmp
*.bak
*.swp
*~.nib
*.pyc
*.cfg
*.pypirc
local.properties
.classpath
.settings/
.loadpath
__pycache__/
