*.pyc
.DS_Store
graphviz/
figs/
/fugitive_interceptions/figs/
/fugitive_interceptions/results/
/venv/


#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
cover/
*.tmp
*.bak
*.swp
*~.nib
*.pyc
*.cfg
*.pypirc
local.properties
.classpath
.settings/
.loadpath
__pycache__/
